<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


	<input type="file" id="files" name="files" multiple />
  <input type="button" id="compare" name="compare" value="Compare"/>
	<div id="list"></div>

	
  
	

    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/resemble.js"></script>
  </body>
</html>
