body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#list{
	width: 300px;
	height: 300px;
}



/* -------- COLUMN LAYOUTS -------*/

.wrapper {
  width: 90%;
  margin: auto;
}

/* -- Column Sizes -- */
.one-fourth   { width:21.25%; }
.one-third    { width:29.333%; }
.one-half     { width:45.5%; }
.two-third    { width:61.666%; }
.three-fourth { width:69.75%; }
.one-column   { width:94%; }
.full-column  { width:100%; }
 
/* -- Column Margin & Float-- */
.one-half,.one-third,.two-third,
.three-fourth,.one-fourth,.one-column,
.full-column {
  margin-left:3%;
  margin-top:1%;
  float:left;
}
 
/* -- Column Row (aka Clearfix) -- */
 
.row:after {
  content: "";
  display: table;
  clear: both;
}